.App {
  text-align: center;
}

.image-grid {
  list-style: none;
}

.image-grid li {
 display:inline-block;
 list-style:none;
 padding:5px;
}

.image-grid li img {
  max-height:200px;
  border: 1px solid #000000;
}




